*{
    margin: 0;
    border: 0;
}

.logo-img {
    width: 100px;
    padding: 15px;
}

.header {
    background-color:#3A3737;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-bottom: 8px solid #fcc72b;
    font-family: "Rubik";
    padding-inline-start: 40px;

}
.menu-list {
    display: flex;
    gap: 150px;
    list-style: none;
    padding-inline-start: 0px;
    padding: 25px;
}


.menu-list-item {
    color: white;
    text-decoration: none;
    
}
.menu-list:hover{
    color: #fcc72b;
    transition: background .3s;
}

/* menu lateral */
.menu-lateral{
    display: none;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    padding: 0 20px;
    display: none;
}
.caixa{
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto{
    border-radius: 28px;
    margin-top: 30px;
    width: 100%; 
    height: 520px;
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(180deg, #737373 0%, #282828 100%);
   
    
}
.seção7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: "Rubik";
    border-radius: 28px;
    margin-top: 30px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(180deg, #737373 0%, #282828 100%);
    color: aliceblue;
    padding: 60px;
    flex-wrap: wrap;
    
}
.btnend {
    padding: 10px 15px; 
    width: 180px;
    background: #fdc313;
    border-radius: 11px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    margin: 30px 0px;
    transition: background 1s;
    color: #3A3737; 
    background-image: linear-gradient(to left,#FFFF24, #fcc72b,#f98417);
    background-size: 500% 100%;
    animation: degrade-btn 3s infinite alternate;
}
@keyframes degrade-btn{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}  
a{
    text-decoration: none; 
    color: #282828;
    
}
.logos {
        width: 30px;    
}
.logosbox{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
.textoendereço {
    max-width: 240px;
    text-align: center;
}
.Endereço { 
    flex-direction: column;
    text-align: center;
}
.textoendereço{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
    
}
.textohorario{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}
.textohorarioitem{
    display: flex;
    justify-content: space-between;
}
.redes{
    font-size: 14px;
    font-weight: 500;
}
.Nossoendereço{
    font-size: 18px;
    font-weight: 500;
}
.funcionamento{
    font-size: 18px;
    font-weight: 500; 
}
.seção8{
    font-family: "Rubik";
    background-color: rgb(224, 216, 216);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    font-size: 12px;
    text-align: center;
}
.mapa iframe{
    width: 100%;
    height: 380px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
 /* TABLET DEITADO E TELAS PEQUENAS */
@media screen and (min-width:769px) and (max-width:1280px) {
   
}
/* MOBILE DEITADO + TABET EM PÉ*/
@media screen and (min-width: 380px)  and (max-width: 768px){
    .seção7 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-family: "Rubik";
        border-radius: 28px;
        margin-top: 30px;
        height: 500px;
        margin-left: 20px;
        margin-right: 20px;
        background: linear-gradient(180deg, #737373 0%, #282828 100%);
        color: aliceblue;
        padding: 60px;
        flex-wrap: wrap;
        
    }
    .header {
        display: none;
    
    }
    .menu-list {
        display: none;
        gap: 150px;
        list-style: none;
        padding-inline-start: 0px;
        padding: 25px;
    }
    
    .menu-list-item {
        color: white;
        text-decoration: none;
        display: none;
        
    }
    .menu-lateral{
        display:flex;
    }
    nav{
        height: 70px;
        background-color:#3A3737;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
    .links-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav a{
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-family: "Rubik";
    }
    
    nav a:hover{
        background-color: #fdc313;
        color: #282828;
    }
    nav .home-link{
        margin-right: auto;
    }


.links-container{
    
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 270px;
    background-color: #282828;
    box-shadow: -5px 0 5px rgb(0, 0, 0, 0.25);
    transition: 0.74s ease-out;
}

nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 50px 40px;
    justify-content: flex-end;
    font-size: 20px;
}
.open-sidebar-button, .close-sidebar-button{
    display: block;
    padding: 20px;
}
#sidebar-active:checked ~ .links-container{
    right: 0;
}
#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.logo-img{
    margin-right: auto;
    padding-left: 15px;
}
}
