.form .form__input {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.form .form__button {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.form .form__button--blue {
    background-color: blue;
}
.form .form__button--green {
    background-color: green;
}
.box {
    width: 80%;
    height: 300px;
    background-color: lightcyan;
}