.header2 {
    background-color:#3A3737;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 8px solid #fcc72b;
    font-family: "Rubik";
    
}
.menu-list2 {
    list-style: none;
    background-color: #282828;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    text-align: right;
    display: block;
    padding-inline-start: 0px;
    padding-top: 23px;
    transition: ,5s;
}
.header2.abrir-menu{
    width: 70%;
}
.header2.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-list-item2 {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400; 
    display: block;        
}

li a {
padding: 25px ; 
display: block; 
}


li a:hover{
background-color: #fcc72b;
color: #282828;
}
.btn-fechar {
color: #fcc72b;
z-index: 99999;
}
.fechar{
width: 25px;
padding-left: 25px;
}
.btn-abrir-menu{
padding: 11px;
}
.overlay-menu{
background-color: #2828289a;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 88888;
display: none;
}
}