*{
    margin: 0;
    border: 0;
    
}



.logo-img {
    width: 100px;
    padding: 15px;
}

.header {
    background-color:#3A3737;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-bottom: 8px solid #fcc72b;
    font-family: "Rubik";
    padding-inline-start: 40px;

}
.header2{
    display: none;
}
.menu-list {
    display: flex;
    gap: 150px;
    list-style: none;
    padding-inline-start: 0px;
    padding: 25px;
}


.menu-list-item {
    color: white;
    text-decoration: none;
    
}
.menu-list:hover{
    color: #fcc72b;
    transition: background .3s;
}

.seção1 {
    color:#3A3737;
    padding:60px;
    font-size: 40px;
    background-image:url(Imagem/Seção\ 1.png);
    background-size:cover;
    background-position: center;
    font-family:"Rubik";
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    height: 100%;
    justify-content:end;
    height: 300px;
}
.textobanner{
    margin-left: 35px;
    font-weight: 200;
    padding: 3px; 
}

.btn {
    padding: 15px 22px; 
    width: 180px;
    border-radius: 11px;
    text-align: center;
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    margin: 30px 0px;
    transition: background 1s;
    cursor:pointer;
    margin-left: 35px;
    overflow: hidden;
    transition: 1s;
    background-image: linear-gradient(to left,#FFFF24, #fcc72b,#f98417,#fcc72b);
    background-size: 500% 100%;
    animation: degrade-btn 3s infinite alternate;
}
@keyframes degrade-btn{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

.logowhats {
    width: 17px;
    align-items: center;
    padding:2px;
    
}
.btn:hover{
    background: rgb(240, 235, 209);
    transform: scale3d(1.1, 1.1, 1)
}


.seção2{
    font-family: "Rubik", sans-serif;
    color: aliceblue;
    padding-bottom: 40px;
    background: linear-gradient(180deg, #737373 0%, #282828 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  

}

.quemsomos {
    padding: 8px;  
    font-size: 28px;
    font-weight:500;
    margin-top: 40px;
}

.quemsomos2 {
    margin: 25px;
    font-weight: 300;
    font-size: 15px;
    margin-right:70px;
    margin-left: 70px;
    text-align: center;
}
.quemsomos3{
    padding: 7px;
    
}
.quemsomos4{
    padding: 7px;
    
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    padding: 28px;
    margin: 28px;
    width: 150px; 
    height: 150px;
    background-image: linear-gradient(95deg,#fdfdfd0c,#ffffff10,#fdfdfd27,#fdfdfd0c);
    background-size: 500% 100%;
    animation: degrade-btn 3s infinite alternate;
}
.card h2 {
    color: azure;
    font-size: 22px;
    font-weight: 400;
}

.imagem {
   float: none ;
   flex-shrink: 0; 
   max-width: 90px;
   max-height: 100px;
   padding: 10px;
}

.seção3{
    font-family: "Rubik";
    background-color:#fcc72b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 35px;

}
.Serviços {
    padding: 40px;
}
.textoservicos{ 
    margin-top: 15px;
    font-family: "Rubik";
    font-size: 28px;
    font-weight:700;
    
}
.row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Cartãolataria{
    border-radius: 28px;
    padding: 28px;
    margin: 28px;
    border: 4px solid #B1B1B1;
    width: 281px; 
    height: 420px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
}
.Cartãolataria:hover{
    transform: scale3d(1.1, 1.1, 1)
}
.Cartãomartelinho{
    border-radius: 28px;
    padding: 28px;
    margin: 28px;
    border: 4px solid #B1B1B1;
    width: 281px; 
    height: 420px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
}
.Cartãomartelinho:hover{
    transform: scale3d(1.1, 1.1, 1)
}
.Cartãopintura{
    border-radius: 28px;
    padding: 28px;
    margin: 28px;
    border: 4px solid #B1B1B1;
    width: 281px; 
    height: 420px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
}
.Cartãopintura:hover{
    transform: scale3d(1.1, 1.1, 1)
}
.textocartao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.imagem2 {
    float: none ;
    flex-shrink: 0; 
    max-width: 278px;
    max-height: 196px;
    margin-top: 50px;
 }

.titulocartão{
    font-size:22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.btn2 {
    padding: 7px 15px; 
    width: 120px;
    background-image: linear-gradient(45deg,#FFFF24, #fcc72b,#f9b117,#f95e17,#fcc72b,#f8f400,#f95e17);
    border-radius: 16px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    margin: 50px;
    transition: background 1s;
    background-size: 500% 100%;
    animation: degrade-btn2 3s infinite alternate;
    }

@keyframes degrade-btn2{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}


 .seção4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Rubik";
    background-color:rgb(218, 218, 218);
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 50px;
}

.Avaliação {
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nota {
   padding: 15px;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.depoimentosbox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1400px;
 }
 
 .depoimentos1{
    width: 250px;
    height: 190px;
    overflow: hidden;
    transition: 0.3s;
 }
 .depoimentos1:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
.seção5{
    font-family: "Rubik";
    background-color:rgb(75, 75, 75);
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding-bottom: 15px; 
    padding-top: 10px;
}
.marcas {
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
}
.marcasbox{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.marcasimagem {
    width: 60px;
    gap: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa iframe{
  width: 100%;
  height: 250px;
}
 
.seção7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: "Rubik";
    background-color:rgb(49, 49, 49);
    color: aliceblue;
    padding: 60px;
    flex-wrap: wrap;
    
}
.btnend {
    padding: 10px 15px; 
    width: 180px;
    background: #fdc313;
    border-radius: 9px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    margin: 30px 0px;
    transition: background 1s;
    color: #3A3737;
    background-image: linear-gradient(to left,#FFFF24, #fcc72b,#f98417);
    background-size: 500% 100%;
    animation: degrade-btn 3s infinite alternate;
}   

.logos {
        width: 30px;  
}
.logosbox{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
.textoendereço {
    max-width: 240px;
    text-align: center;
}
.Endereço { 
    flex-direction: column;
    text-align: center;
}
.textoendereço{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
    
}
.textohorario{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}
.textohorarioitem{
    display: flex;
    justify-content: space-between;
}
.redes{
    font-size: 14px;
    font-weight: 500;
}
.Nossoendereço{
    font-size: 18px;
    font-weight: 500;
}
.funcionamento{
    font-size: 18px;
    font-weight: 500; 
}
.seção8{
    font-family: "Rubik";
    background-color: rgb(224, 216, 216);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    font-size: 12px;
}
button{
    width: 50px;
    height: 50px;
    border: 4px solid hsl(54, 98%, 53%);
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
}
.linha{
    width: 30px;
    height: 3px;
    background-color: hsl(54, 98%, 53%);
    display: block;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: 0.5s;
    
}

button.ativar{
    border:4px solid red;
}

button.ativar .linha:nth-child(1){
    transform: translateY(8px) rotate(-45deg);
    background-color: red;
}
button.ativar .linha:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
    background-color: red;
}
button.ativar .linha:nth-child(2){
    opacity: 0;
}

/* TABLET DEITADO E TELAS PEQUENAS */
@media screen and (min-width:769px) and (max-width:1280px) {
   
}
/* MOBILE DEITADO + TABET EM PÉ*/
@media screen and (min-width: 380px)  and (max-width: 768px){
    .seção1 {
        color:#3A3737;
        padding:20px;
        font-size: 30px;
        background-image:url(Imagem/Seção\ 1.png);
        background-size:cover;
        background-position:left;
        font-family:"Rubik";
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        height: 100%;
        justify-content:end;
        height: 300px;
    }
    .textobanner{
        margin-left:0px;
        font-weight: 200;
        padding: 3px;
        text-align: center;
        
    }
    
    .btn {
        padding: 15px 22px; 
        width: 180px;
        background: #fcc72b;
        border-radius: 11px;
        text-align: center;
        user-select: none;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
        font-size: 14px;
        font-weight: bolder;
        margin: 30px 0px;
        transition: background 1s;
        margin-left: 0px;
        overflow: hidden;
        transition: 1s;
        background-image: linear-gradient(to left,#FFFF24, #fcc72b,#f98417);
        background-size: 500% 100%;
        animation: degrade-btn 3s infinite alternate;
    }
    @keyframes degrade-btn{
        0%{
            background-position-x: 0%;
        }
        100%{
            background-position-x: 100%;
        }
    }
    .logowhats {
        width: 17px;
        align-items: center;
        padding:2px;
        
    }
    .seção4{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Rubik";
        background-color:rgb(218, 218, 218);
        flex-wrap: wrap;
        height: 100%;
        padding-bottom: 50px;
    }
    
    .Avaliação {
        padding-top: 60px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .depoimentos1{
        width: 160px;
        height: 130px;
     }
    
     .logo-img {
        width: 100px;
        padding: 15px;
    }
    
    .header {
        display: none;
    
    }
    .menu-list {
        display: none;
        gap: 150px;
        list-style: none;
        padding-inline-start: 0px;
        padding: 25px;
    }
    
    .menu-list-item {
        color: white;
        text-decoration: none;
        display: none;
        
    }
    .header2 {
        background-color:#3A3737;
        margin: 0;
        border: 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 8px solid #fcc72b;
        font-family: "Rubik";
        
    }
    .menu-list2 {
        list-style: none;
        background-color: #282828;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        text-align: right;
        display: block;
        padding-inline-start: 0px;
        padding-top: 23px;
        transition: 5s;
    }
    .header2.abrir-menu{
        width: 70%;
    }
    .header2.abrir-menu ~ .overlay-menu{
        display: block;
    }
    .menu-list-item2 {
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400; 
        display: block;        
}

li a {
    padding: 25px ; 
    display: block; 
}


li a:hover{
    background-color: #fcc72b;
    color: #282828;
}
.btn-fechar {
    color: #fcc72b;
    z-index: 99999;
}
.fechar{
    width: 25px;
    padding-left: 25px;
}
.btn-abrir-menu{
  padding: 11px;
}
.overlay-menu{
    background-color: #2828289a;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}
}