*{
    margin: 0;
    border: 0;
}

.logo-img {
    width: 100px;
    padding: 15px;
}

.header {
    background-color:#3A3737;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-bottom: 8px solid #fcc72b;
    font-family: "Rubik";
    padding-inline-start: 40px;

}
.menu-list {
    display: flex;
    gap: 150px;
    list-style: none;
    padding-inline-start: 0px;
    padding: 25px;
}


.menu-list-item {
    color: white;
    text-decoration: none;
    
}
.menu-list:hover{
    color: #fcc72b;
    transition: background .3s;
}


/* menu lateral */
.menu-lateral{
    display: none;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    padding: 0 20px;
    display: none;
}
.backgroud {
    background-image:url(../../Imagem/bg\ serviços.png) ;
    background-size:cover;
    padding-bottom: 180px;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    
}
.serviços {
    font-family: "Rubik";
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;    
}
.cardmartelinho{
    border-radius: 28px;
    padding: 28px;
    margin: 28px;
    border: 5px solid #fcc72b;
    width: 700px; 
    height: 200px;
    background-color: white;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: start;
    gap: 30px;
    overflow: hidden;
    transition: 0.3s;
}
.cardmartelinho:hover{
    transform: scale3d(1.1, 1.1, 1)
}
.imagemmartelinho {
    width: 280px;
}
.btn {
    padding: 10px 15px; 
    width: 180px;
    background: #fcc72b;
    border-radius: 16px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    margin: 30px 0px;
    transition: background 1s;
    background-image: linear-gradient(to left,#FFFF24, #fcc72b,#f98417,#fcc72b);
    background-size: 500% 100%;
    animation: degrade-btn 3s infinite alternate;
}
@keyframes degrade-btn{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}
a{
    text-decoration: none; 
    color: #282828;
    
}
 
.body{
    background-color: #3A3737;
}
.cardpintura{
    border-radius: 28px;
    padding: 28px;
    margin: 28px;
    border: 5px solid #fcc72b;
    width: 700px; 
    height: 200px;
    background-color: white;
    display:flex;
    margin-right: auto;
    margin-left: auto;
    align-items: start;
    gap: 30px;
    overflow: hidden;
    transition: 0.3s;
}
.cardpintura:hover{
    transform: scale3d(1.1, 1.1, 1)
}
.imagemlataria {
    width: 280px;
}
.btn2 {
    padding: 10px 15px; 
    width: 180px;
    background: #fcc72b;
    border-radius: 16px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    margin: 30px 0px;
    transition: background 1s;
    background-image: linear-gradient(to left,#FFFF24, #fcc72b,#f98417,#fcc72b);
    background-size: 500% 100%;
    animation: degrade-btn 2s infinite alternate;
}
@keyframes degrade-btn{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

.imagempintura {
    width: 280px;
}
.cardpolimento{
    border-radius: 28px;
    padding: 28px;
    margin: 28px;
    border: 5px solid #fcc72b;
    width: 700px; 
    height: 200px;
    background-color: white;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: start;
    gap: 30px;
    overflow: hidden;
    transition: 0.3s;
}
.cardpolimento:hover{
    transform: scale3d(1.1, 1.1, 1)
}
.imagempolimento {
    width: 280px;
}
.cards{
    font-family: "Rubik";
    
}
.cardlataria{
    border-radius: 28px;
    padding: 28px;
    margin: 28px;
    border: 5px solid #fcc72b;
    width: 700px; 
    height: 200px;
    background-color: white;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: start;
    gap: 30px;
    overflow: hidden;
    transition: 0.3s;
}
.cardlataria:hover{
    transform: scale3d(1.1, 1.1, 1)
}
    
.seção8{
    font-family: "Rubik";
    background-color: rgb(224, 216, 216);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}
/*Estlização do menu-mobile*/






@media screen and (max-width:730px){
    .header{
        display: none;
    }
}



/* TABLET DEITADO E TELAS PEQUENAS */
@media screen and (min-width:769px) and (max-width:1280px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}
/* MOBILE DEITADO + TABET EM PÉ*/
@media screen and (max-width: 768px){

.body{
    margin-right: auto;
    margin-left: auto;
}

    .cardpolimento{
        border-radius: 28px;
        padding: 28px;
        margin: 28px;
        border: 5px solid #fcc72b;
        background-color: white;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 260px; 
        height: 430px;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }
    .cardlataria{
        border-radius: 28px;
        padding: 28px;
        margin: 28px;
        border: 5px solid #fcc72b;
        background-color: white;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 260px; 
        height: 430px;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }
    .cardpintura{
        border-radius: 28px;
        padding: 28px;
        margin: 28px;
        border: 5px solid #fcc72b;
        background-color: white;
        display:flex;
        margin-right: auto;
        margin-left: auto;
        width: 260px; 
        height: 430px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .cardmartelinho{
        border-radius: 28px;
        padding: 28px;
        margin: 28px;
        border: 5px solid #fcc72b;
        background-color: white;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 260px; 
        height: 430px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    
    }
    .imagempolimento {
        width: 280px;
    }
    .btn2 {
        padding: 7px 15px; 
        width: 180px;
        background: #fcc72b;
        border-radius: 16px;
        text-align: center;
        user-select: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bolder;
        margin: 30px 0px;
        transition: background 1s;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        }

        .btn {
            padding: 7px 15px; 
            width: 180px;
            background: #fcc72b;
            border-radius: 16px;
            text-align: center;
            user-select: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: bolder;
            margin: 30px 0px;
            transition: background 1s;
            align-items: center;
            justify-content: center;
            display: flex;
            margin-right: auto;
            margin-left: auto;
            }

  .backgroud {
    background-image:url(../../Imagem/bg\ serviços.png) ;
    background-size:auto;
    padding-bottom: 180px;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    
}   
.header {
    display: none;

}
.menu-list {
    display: none;
    gap: 150px;
    list-style: none;
    padding-inline-start: 0px;
    padding: 25px;
}

.menu-list-item {
    color: white;
    text-decoration: none;
    display: none;
    
}
.menu-lateral{
    display:flex;
}
nav{
    height: 70px;
    background-color:#3A3737;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Rubik";
}

nav a:hover{
    background-color: #fdc313;
    color: #282828;
}
nav .home-link{
    margin-right: auto;
}


.links-container{

flex-direction: column;
align-items: flex-start;

position: fixed;
top: 0;
right: -100%;
z-index: 10;
width: 270px;
background-color: #282828;
box-shadow: -5px 0 5px rgb(0, 0, 0, 0.25);
transition: 0.74s ease-out;
}

nav a{
box-sizing: border-box;
height: auto;
width: 100%;
padding: 50px 40px;
justify-content: flex-end;
font-size: 20px;
}
.open-sidebar-button, .close-sidebar-button{
display: block;
padding: 20px;
}
#sidebar-active:checked ~ .links-container{
right: 0;
}
#sidebar-active:checked ~ #overlay{
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 9;
}
.logo-img{
margin-right: auto;
padding-left: 15px;
}
}     

