*{
    margin: 0;
    border: 0;
}

.logo-img {
    width: 100px;
    padding: 15px;
}

.header {
    background-color:#3A3737;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-bottom: 8px solid #fcc72b;
    font-family: "Rubik";
    padding-inline-start: 40px;

}
.menu-list {
    display: flex;
    gap: 150px;
    list-style: none;
    padding-inline-start: 0px;
    padding: 25px;
}

.menu-list-item {
    color: white;
    text-decoration: none;
    
}
.menu-list:hover{
    color: #fcc72b;
    transition: background .3s;
}

.favicon{
    width: 150px;
}
.sessao1{
    font-family: "Rubik", sans-serif;
    color: aliceblue;
    padding-bottom: 150px;
    background: linear-gradient(180deg, #737373 0%, #282828 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 120px;
    height: 100%; 
    gap: 60px;
}

.quemsomos {
    padding: 8px;  
    font-size: 28px;
    font-weight:500;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.quemsomos2 {
    font-weight: 300;
    font-size: 15px;
    text-align:justify;
    width: 500px; 
 }
 .quemsomos3{
    padding: 5px;
}

.quemsomos4{
    padding: 5px;
 }
 .quemsomos5{
    padding: 5px;
    margin-bottom: 40px;
 }
 .fotofachada{
    width: 500px;
    margin-top: 30px;
    
 }
 .favicon{
    
    margin-bottom: 20px;
 }
 
.carousel-inner{
    margin-top: 50px;
}
.seção8{
    font-family: "Rubik";
    background-color: rgb(224, 216, 216);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    font-size: 12px;
    
}