*{
    margin: 0;
    border: 0;
    
}

.logo-img {
    width: 100px;
    padding: 15px;
}

.header {
    background-color:#3A3737;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-bottom: 8px solid #fcc72b;
    font-family: "Rubik";
    padding-inline-start: 40px;

}
.menu-list {
    display: flex;
    gap: 150px;
    list-style: none;
    padding-inline-start: 0px;
    padding: 25px;
}


.menu-list-item {
    color: white;
    text-decoration: none;
    
}
.menu-list:hover{
    color: #fcc72b;
    transition: background .3s;
}

.secao1{
    font-family: "Rubik", sans-serif;
    color: aliceblue;
    padding-bottom: 40px;
    background: linear-gradient(180deg, #737373 0%, #282828 100%);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height:100vh;
    padding: 100px;
}
.quemsomos {
    padding: 8px;  
    font-size: 28px;
    font-weight:500;
    margin-top: 40px;
}

.quemsomos2 {
    margin: 25px;
    font-weight: 300;
    font-size: 15px;
    margin-right:70px;
    margin-left: 70px;
    text-align: center;
    
 }
 .quemsomos3{
    padding: 7px;
    
}

.quemsomos4{
    padding: 7px;
 }
 .fotofachada{
    width: 35%;
 }