*{
    margin: 0;
    border: 0;
}

.logo-img {
    width: 100px;
    padding: 15px;
}

.header {
    background-color:#3A3737;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    border-bottom: 8px solid #fcc72b;
    font-family: "Rubik";
    padding-inline-start: 40px;

}
.menu-list {
    display: flex;
    gap: 150px;
    list-style: none;
    padding-inline-start: 0px;
    padding: 25px;
}

.menu-list-item {
    color: white;
    text-decoration: none;
    
}
.menu-list:hover{
    color: #fcc72b;
    transition: background .3s;
}
/* menu lateral */
.menu-lateral{
    display: none;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    padding: 0 20px;
    display: none;
}

.favicon{
    width: 150px;
}
.sessao1{
    font-family: "Rubik", sans-serif;
    color: aliceblue;
    padding-bottom: 150px;
    background: linear-gradient(180deg, #737373 0%, #282828 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 120px;
    height: 100%; 
    gap: 60px;
}

.quemsomos {
    padding: 8px;  
    font-size: 28px;
    font-weight:500;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.quemsomos2 {
    font-weight: 300;
    font-size: 15px;
    text-align:left;
    width: 500px; 
 }
 .quemsomos3{
    padding: 5px;
}

.quemsomos4{
    padding: 5px;
 }
 .quemsomos5{
    padding: 5px;
    margin-bottom: 40px;
 }
 .fotofachada{
    width: 500px;
    margin-top: 30px;
    
 }
 .favicon{
    margin-bottom: 20px;
 }
 
.carousel-inner{
    margin-top: 50px;
}
.seção8{
    font-family: "Rubik";
    background-color: rgb(224, 216, 216);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    font-size: 12px;
    
}
/* TABLET DEITADO E TELAS PEQUENAS */
@media screen and (min-width:769px) and (max-width:1280px) {
   
}
/* MOBILE DEITADO + TABET EM PÉ*/
@media screen and (min-width: 380px)  and (max-width: 768px){
    .sessao1{
        font-family: "Rubik", sans-serif;
        color: aliceblue;
        padding-bottom: 150px;
        background: linear-gradient(180deg, #737373 0%, #282828 100%);
        padding-top: 40px;
        gap: 60px;
        
    } 
    .quemsomos {
        padding: 8px;  
        font-size: 28px;
        font-weight:500;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .quemsomos2 {
        font-weight: 300;
        font-size: 15px;
        text-align:center;
        margin-left: 150px; 
        margin-right: 150px;
        width: 350px;
       
     }
     .fotofachada{
        width: 350px;
     }
     .quemsomos5{
        padding: 5px;
     }
     .quemsomos3{
        padding: 5px;
        margin-top: 30px;
    }

    .header {
        display: none;
    
    }
    .menu-list {
        display: none;
        gap: 150px;
        list-style: none;
        padding-inline-start: 0px;
        padding: 25px;
    }
    
    .menu-list-item {
        color: white;
        text-decoration: none;
        display: none;
        
    }
    .menu-lateral{
        display:flex;
    }
    nav{
        height: 90px;
        background-color:#3A3737;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
    .links-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav a{
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-family: "Rubik";
    }
    
    nav a:hover{
        background-color: #fdc313;
        color: #282828;
    }
    nav .home-link{
        margin-right: auto;
    }


.links-container{
    
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 270px;
    background-color: #282828;
    box-shadow: -5px 0 5px rgb(0, 0, 0, 0.25);
    transition: 0.74s ease-out;
}

nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 50px 40px;
    justify-content: flex-end;
    font-size: 20px;
}
.open-sidebar-button, .close-sidebar-button{
    display: block;
    padding: 20px;
}
#sidebar-active:checked ~ .links-container{
    right: 0;
}
#sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.logo-img{
    width: 130px;
    margin-right: auto;
    padding-left: 15px;
}
}